alembic==1.10.3
Flask==2.2.3
google_api_python_client==2.86.0
ImageHash==4.3.1
Pillow==9.5.0
protobuf==4.22.3
pyTelegramBotAPI==4.11.0
SQLAlchemy==2.0.9
Werkzeug==2.2.2
openai==1.60.1
google==3.0.0
python-Levenshtein==0.26.1
anthropic==0.40.0
dynaconf==3.2.7
numpy
lxml
python-dateutil
pytz
cachetools
funcy
apscheduler
pyowm