alembic==1.10.3
Flask==2.2.3
google_api_python_client==2.86.0
ImageHash==4.3.1
Pillow==9.5.0
protobuf==4.22.3
pyTelegramBotAPI==4.11.0
SQLAlchemy==2.0.9
openai
google-cloud
google-cloud-vision
google-cloud-language
google==3.0.0
numpy
lxml
python-dateutil
pytz